$bg-modal:rgba(0,0,0,0.5);
$color-blue:blue;
.modal-root {
  position: relative;
  z-index: 999;
  .modal {
    background-color: $bg-modal;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      padding: 50px;
    }
  }
  .btn {
    font-size: 20px;
    background-color: $color-blue;
    color: white;
    border:0;
    padding: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
