$color-red:red;
$color-grey:grey;
.blog-detail {
  padding: 20px;
  .detail-category {
    margin: 20px 0;
    font-size: 14px;
    color: $color-red;
     word-wrap: break-word
  }
  .detail-img {
    width: 100%;
  }
  .detail-desc {
    padding: 20px 0;
    font-size: 16px;
    line-height: 24px;
     word-wrap: break-word
  }
  .detail-content {
    padding: 20px 0;
    font-size: 16px;
    line-height: 24px;
  }
  .detail-info {
    color: $color-grey;
    padding: 10px 0;
    font-size: 14px;
  }
  .detail-author {
    padding-right: 10px;
    &::before {
      content: "by";
      text-transform: uppercase;
      margin-right: 5px;
      color: $color-grey;
    }
  }
  .detail-read {
    padding-left: 10px;
    &::after {
      content: "mins read";
      text-transform: uppercase;
      margin-left: 5px;
      color: $color-grey;
    }
  }
}
.img-loading {
  text-align: center;
}
@media screen and (max-width: 425px) {
  .detail-info {
    span {
      display: block;
    }
  }
  .detail-read {
    padding-left: 0!important;
  }
}
