@import '../base/all';

.page-header{
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 48px 0;
  .header-content{
    @extend .flexBetween;
  }
}
.header-center {
  ul.nav-list{
    li.nav-item{
      display: inline-block;
      padding: 0 30px;
      a.nav-link {
        color: $color-orange;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
      }
    }
  }
}
.header-right{
  ul.options-list{
    li.options-item{
      display: inline-block;
      padding: 0 15px;
      &:last-child{
        padding-right: 0;
      }
      &:nth-child(3){
        padding-right:0 ;
      }
    }
  }
  .ico-bar{
    display: none;
  }
} 
@include respon(sm){
  .page-header{
    padding: 20px 0;
    background-color: $color-white;
    .header-left{
      img{
        content:url('../asset/icon/logomobile.svg')
      }
    }
    .header-center{
      display: none;
    }
    .header-right{
      ul.options-list{
        li.options-item{
          &.search{
            display: none;
          }
        }
      }
      .ico-cart{
        content: url('../asset/icon/cartmobile.svg');
      }
      .ico-user{
        content: url('../asset/icon/usermobile.svg');
      }
      .ico-bar{
        display: block;
      }
    }
  }
}