@import 'font';
@import 'color';
body{
  font-family: $fontPopin, $fontSans;
}
.container{
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}
a{
  text-decoration: none;
  color: $color-text;
}


.title{ 
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 48px;
  color: $color-text;
}