.page-header {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 48px 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%);
  .header-content {
    @extend %flex-between;
  }
}
.header-center {
  .nav-list {
    .nav-item {
      display: inline-block;
      padding: 0 30px;
      .nav-link {
        color: $color-orange;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
      }
    }
  }
}
.header-right {
  .options-list {
    .options-item{
      display: inline-block;
      padding: 0 15px;
      &.menu-bar{
        padding: 0;
      }
      &:nth-child(3){
        padding-right: 0;
      }
    }
  }
  .ico-bar {
    display: none;
  }
  .cart-group{
    position: relative;
    .number-cart{
      position: absolute;
      top: -6px;
      left: 13px;
      background-color: #FFFFFF;
      font-size: 12px;
      border-radius: 50%;
      padding: 1px 6px;
      z-index: 99;
    }
  }
} 
@include responsiveMedia(sm) {
  .page-header {
    padding: 20px 0;
    background: $color-white;
    .header-left {
      img {
        content: url('../../assets/icons/logomobile.png');
      }
    }
    .header-center {
      display: none;
    }
    .header-right {
      .options-list {
        .options-item {
          &.search{
            display: none;
          }
          &.menu-bar{
            padding-right: 0;
          }
          &:nth-child(3){
            padding-right: 15px;
          }
        }
      }
      .ico-cart {
        content: url('../../assets/icons/cartmobile.svg');
      }
      .ico-user {
        content: url('../../assets/icons/usermobile.svg');
      }
      .ico-bar {
        display: block;
      }
    }
  }
}
