$color-orange: orange;
$color-grey:grey;
.container {
  max-width: 1120px;
  margin: 0 auto;
  width: 100%;
}
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.posts {
  width: 100%;
  .post-item {
    list-style: none;
    padding: 10px 0;
  }
  .post {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .post-content{
    padding: 10px 0;
  }
  .post-img {
    width: 300px;
    margin-right: 20px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  .post-category {
    font-size: 16px;
    color: $color-orange;
  }
  .post-title {
    padding: 10px 0;
  }
  .post-desc {
    padding: 10px 0;
  }
  .post-info {
    text-transform: uppercase;
    padding-top: 20px;
  }
  .post-info-author {
    margin-right: 20px;
    &::before {
      content: "BY";
      text-transform: uppercase;
      color: $color-grey;
      margin-right: 5px;
    }
  }
  .post-info-date {
    margin-right: 20px;
  }
  .post-info-read {
    &::after {
      content: "mins read";
      text-transform: uppercase;
      margin-left: 5px;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}
.img-loading {
  text-align: center;
}
@media screen and (max-width: 425px){
  .posts {
    .post {
      flex-direction: column;
    }
    .post-item {
      padding: 0 10px;
    }
    .post-img {
      width: 100%!important;
      margin-left: 50%;
      transform: translateX(-50%);
    }
    .post-content {
      padding-top: 10px;
    }
    .post-desc {
      width:100%;
      white-space: pre-wrap; 
      overflow: hidden;
      text-overflow: ellipsis; 
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      padding: 0;
    }
    .post-info {
      font-size: 12px;
      padding-top: 10px;
    }
    .post-info-author{
      display: block;
      padding-bottom: 5px;
    }
  }
}
