@import '../base/all';
.banner{
  position: relative;
  .banner-img{
    position: relative;
    line-height: 0;
    img.banner-head{
      width: 100%;
    }
    &::before{
      content: "";
      @extend .overlay;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%);
    }
  }
  .banner-title{
    position: absolute;
    top: 222px;
    left: 240px;
    z-index: 999;
    color: $color-white;
    h2{
      font-weight: bold;
      font-size: 72px;
      line-height: 101.5%;
      margin-bottom: 20px;
      .text-color{
        color: $color-orange;
      }
    }
    .shop-now{
      display: flex;
      align-items: center;
      .link-name{
        padding-left: 10px;
        font-size: 24px;
        line-height: 36px;
        color: $color-white;
        text-decoration-line: underline;
      }
    }
  }
  .benifits{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
    color: $color-white;
    background: $color-white;
    border-top-right-radius:70px ;
  }
  .list-benifits{
    padding-left: 220px;
    padding-right: 50px;
    @extend .flexBetween;
    .benifit-item{
      width: calc(100%/3 - 30px);
      .benifit-img{
        padding-right: 20px;
      }
    }
  }
  .benifit{
    padding: 30px 0;
    display: flex;
    .benifit-content {
      p {
        &:first-child{
          font-weight: bold;
          font-size: 14px;
          line-height: 21px;
          color: $color-text;
        }
        &:last-child{
          font-size: 12px;
          line-height: 18px;
          color: $color-text-small;
        }
      }  
    } 
  }
}

    