.badge {
  padding: 6px 0px;
  border-radius: 20px;
  width: 60px;
  color: $color-white;
  text-align: center;
  &.badge-sale{
    background-color: $color-red;
  }
}
@include respon(sm) {
  .badge{
    font-size: 8px;
    line-height: 12px;
    width: 32px;
  }
}
